BODY {
	padding:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
	margin-left:0px;
	margin-top:0px;
}

.table{
        width: 50%;
        background-color: #DAE3F0;
        margin-left: auto;
        margin-right: auto;
}
.center{
	text-align: center;
}
TH {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #C5D3E7;
	text-align: center;
}
TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align: right;
}

A:link {
	color:#000099;
	text-decoration: none;
}
A:hover {
	color:#2F97FF;
	text-decoration: underline;
}
A:visited {
	color:#000099;
	text-decoration: none;
}
A:visited:hover	{
	color:#2F97FF;
	text-decoration: underline;
}
